<%= form_with(model: staff, local: true) do |form| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :staff_name %>
  </div>

  <div class="field">
    <%= form.label :funcao_id %>
    <%= collection_select :staff, :funcao_id, @funcoes, :id, :descricao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
