<%= form_with(model: funcao, local: true) do |form| %>
  <% if funcao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(funcao.errors.count, "error") %> prohibited this funcao from being saved:</h2>

      <ul>
      <% funcao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :funcao_descricao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
